.main {
  color: white;
}

.main h1 {
  text-align: center;
  font-size: clamp(1.5rem, 7vw, 3rem);
}

.main p {
  text-align: center;
  font-size: clamp(1.2rem, 7vw, 1.7rem);
}

.main img {
  margin: 20px 0;
  border: 2px solid white;
}
