.bg {
  background-color: #496ca1;
  padding: 50px;
  height: 500px;
  text-align: center;
}

.heading, .description {
  max-width: 550px;
  margin: 0 auto;
}

.heading {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
}

.update-buttons {
  position: relative;
  top: -300px;
}

.update-button {
  display: block;
  border: none;
  padding: 20px 30px;
  background-color: lightgreen;
  margin-bottom: 20px;
  width: 230px;
  margin: 20px auto;
}

.nothing {
  color: black;
  font-size: 4rem;
  text-align: center;
}