* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  padding: 20px;
  margin: 0;
  color: white;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

h1,
h2 {
  margin: 10px 0;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-green {
  background-color: green;
}
