* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: white;
  font-family: Poppins;
  background-color: #5f5b6a;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

h1,
h2 {
  margin: 10px 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: none;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-horizontal {
  display: flex;
  align-items: center;
}

.bg-green {
  background-color: green;
}

.container {
  max-width: 1000px;
  padding: 20px 40px;
  margin: 0 auto;
}
