.card {
  max-width: 500px;
  background-color: white;
  border-radius: 5px;
  --padding-y: 40px;
  box-shadow: 0px 0px 20px
    color-mix(in srgb, black, transparent 80%);
}

.card--startup {
  --price-theme: #5a5679;
  --price-theme-darker: #241f46;
}

.card--pro {
  --price-theme: #f3847e;
  --price-theme-darker: #d43533;
  --padding-y: 70px;
}

.card--enterprise {
  --price-theme: #47b8e0;
  --price-theme-darker: #1378d5;
}

.card__wrapper {
  width: 90%;
  margin: 0 auto;
  padding: var(--padding-y) 10px;
}

.card__label {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.card__image {
  max-width: 80px;
  width: 100%;
  margin-top: 40px;
}

.card__price-label {
  margin-top: 20px;
  font-size: 1.3rem;
  text-align: center;
  color: var(--price-theme);
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #f3f1f1;
}

.card__price-figure {
  font-weight: bold;
}

.card__price-duration {
  font-size: 0.8rem;
  margin-left: 4px;
}

.card__benefits-label {
  color: var(--price-theme);
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1.5px;
}

.card__benefits {
  color: black;
  padding-left: 10px;
  font-size: 0.7rem;
}

.card__benefit {
  margin-bottom: 15px;
}

.card__benefit-icon {
  width: 12px;
  height: 12px;
  background-color: color-mix(
    in srgb,
    var(--price-theme),
    white 40%
  );
  padding: 2px;
  border-radius: 50%;
  margin-right: 6px;
}

.card .card__button {
  text-transform: uppercase;
  padding: 15px;
  background-color: var(--price-theme);
  width: 100%;
  text-align: center;
  border: 2px solid var(--price-theme-darker);
  border-radius: 3px;
  margin-top: 20px;
  color: white;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
